## 변수 만들기

- <- 또는 = 을 이용하여 변수 생성
- = 는 R에서 추천하는 방식이 아님

In [1]:
# 변수 생성 방법

a <- 1
b = 3
c <- 1.5

# 변수 출력

print(a)
print(b)

[1] 1
[1] 3

### <- 와 = 의 차이

In [2]:
sum(x <- c(1, 2))
x

[1] 3

[1] 1 2

In [11]:
sum(y = 1)
# y 에러 발생, = 는 변수 생성도 하지만 파라미터 값으로도 인식되기 때문

[1] 1

## 기본 연산

In [7]:
a + b

[1] 4

In [8]:
6 / b

[1] 2

In [9]:
2 * c

[1] 3

## 여러 값으로 구성된 변수

- c() 함수 : 변수에 여러 값을 넣는 함수

In [12]:
# 숫자 5개로 이루어진 변수

var1 <- c(1, 3, 5, 7, 9)
var1

[1] 1 3 5 7 9

In [13]:
# 콜론 : 1씩 증가하는 연속된 수 (마지막 수 포함)

var2 <- c(1:5)
var2

[1] 1 2 3 4 5

In [15]:
# seq() : 연속된 값을 지닌 변수 생성 (sequence)

var3 <- seq(from = 1, to = 5)
var3

[1] 1 2 3 4 5

In [18]:
# seq 함수의 간격 조절

var4 <- seq(1, 10, by = 2)
var4

[1] 1 3 5 7 9

In [20]:
# 등차수열

var5 <- seq(1, 10, length = 5)
var5

[1]  1.00  3.25  5.50  7.75 10.00

In [21]:
# 수열 개수 지정

var6 <- seq(1, by = 3, length.out = 4)
var6

[1]  1  4  7 10

## 수열 연산

- 변수 + 변수
- 변수 + 숫자

In [26]:
# 변수 + 숫자 : 각 변수의 각 값에 2가 더해진 값이 출력

var1 + 2

[1]  3  5  7  9 11

In [27]:
# 변수 + 변수 : 같은 순서에 위치한 값끼리 연산

var1 + var2

[1]  2  5  8 11 14

In [30]:
# 변수 + 변수 연산에서 데이터의 길이가 다를 경우
# 경고 메시지가 출력되지만 결과값도 함께 출력됨

var1 + var6

Warning message in var1 + var6:
"두 객체의 길이가 서로 배수관계에 있지 않습니다"

[1]  2  7 12 17 10

### 문자로 된 변수

In [31]:
str1 <- "Hello, World!"
str1

[1] "Hello, World!"

In [32]:
# 연속 문자 변수

str2 <- c("Hello", "world", "is", "good!")
str2

[1] "Hello" "world" "is"    "good!"

- 문자형 변수는 연산 불가능

In [34]:
# str1 * 2

## 숫자를 다루는 함수

In [35]:
x <- c(1, 2, 3)

# 평균
mean(x)

# 최댓값
max(x)

# 최솟값
min(x)

[1] 2

[1] 3

[1] 1

## 문자를 다루는 함수
### paste() : 여러 문자를 합치는 함수

In [36]:
paste("Hello", "World")

[1] "Hello World"

In [38]:
paste(str2, collapse = " ")

[1] "Hello world is good!"

In [40]:
# 묶인 원소는 개별로 인식

paste(c("Hello", "World"))
paste(1:10, c("st", "nd", "rd", rep("th", 7)))

[1] "Hello" "World"

 [1] "1 st"  "2 nd"  "3 rd"  "4 th"  "5 th"  "6 th"  "7 th"  "8 th"  "9 th"
[10] "10 th"