In [1]:
library(stringr)

# str_detect()

- 원소별 패턴 검사를 위해 사용
- str_detect(데이터, 패턴)
  - 논리값으로 리턴됨

In [2]:
v1 <- c("aa", "ba", "ccb", "Ab", "Bbc")

In [3]:
str_detect(v1, "a")

[1]  TRUE  TRUE FALSE FALSE FALSE

In [4]:
v1[1]

[1] "aa"

In [5]:
v1[1:3]

[1] "aa"  "ba"  "ccb"

In [6]:
v1[c(1, 3)]

[1] "aa"  "ccb"

In [7]:
v1[c(T, T, F, F, F)]

[1] "aa" "ba"

In [8]:
v1[str_detect(v1, "a")] # "a"를 포함하는 원소 출력

[1] "aa" "ba"

In [9]:
v1[str_detect(v1, "^a")] # a로 시작하는 원소(^는 시작의 의미)

[1] "aa"

In [10]:
v1[str_detect(v1, "^[aA]")] # a 또는 A로 시작하는 원소

[1] "aa" "Ab"

In [11]:
v1[str_detect(v1, "^[aAbB]")] # 대소문자 관계없이 a또는 b로 시작하는 원소

[1] "aa"  "ba"  "Ab"  "Bbc"

In [12]:
v1[str_detect(v1, "^[aA][bB]")] # 대소관계없이 a로 시작, b가 두번째

[1] "Ab"

In [13]:
v1[str_detect(v1, "a$")] # a로 끝나는 원소

[1] "aa" "ba"

# str_count()

- 특정 문자의 출현 횟수를 세기 위해 사용

In [14]:
str_count(v1) # 글자 수

[1] 2 2 3 2 3

In [15]:
str_count(v1, "a")

[1] 2 1 0 0 0

# str_c()

- 문자열 결합

In [16]:
str_c("cute", "dog")

[1] "cutedog"

In [17]:
str_c("vector:", v1)

[1] "vector:aa"  "vector:ba"  "vector:ccb" "vector:Ab"  "vector:Bbc"

In [20]:
str_c(v1, " name is ", v1)

[1] "aa name is aa"   "ba name is ba"   "ccb name is ccb" "Ab name is Ab"
[5] "Bbc name is Bbc"

In [21]:
str_c(v1, collapse = "-")

[1] "aa-ba-ccb-Ab-Bbc"

In [22]:
str_c("a", "b", "c")

[1] "abc"

In [23]:
str_c(v1)

[1] "aa"  "ba"  "ccb" "Ab"  "Bbc"

In [24]:
str_c("a", "b", "c", sep = ",")

[1] "a,b,c"

In [25]:
str_c(v1, collapse = ",")

[1] "aa,ba,ccb,Ab,Bbc"

# str_dup()

- 원소마다 반복 출력

In [26]:
str_dup(v1, 3)

[1] "aaaaaa"    "bababa"    "ccbccbccb" "AbAbAb"    "BbcBbcBbc"

# str_length()
- 문자열의 길이, 벡터의 각 원소의 길이 확인

In [27]:
str_length("hello")

[1] 5

In [28]:
str_length(v1)

[1] 2 2 3 2 3

# str_locate()
- 특정 문자와 매칭하는 문자열의 시작, 끝 위치 확인

In [29]:
str_locate("abab", "a") # 처음 나오는 a의 위치

     start end
[1,] 1     1

In [30]:
str_locate("abaab", "aa") # 처음 나오는 aa의 위치

     start end
[1,] 3     4

In [31]:
str_locate(v1, "a") # 벡터의 각 원소별 위치 확인

     start end
[1,]  1     1
[2,]  2     2
[3,] NA    NA
[4,] NA    NA
[5,] NA    NA

# str_locate_all()
- 특정 문자와 매칭하는 문자열의 모든 위치 확인

In [32]:
v2 <- c("a", "aba", "ababab")

In [33]:
str_locate_all(v2, "a")

[[1]]
     start end
[1,]     1   1

[[2]]
     start end
[1,]     1   1
[2,]     3   3

[[3]]
     start end
[1,]     1   1
[2,]     3   3
[3,]     5   5

# str_replace()

- 처음으로 매칭되는 문자의 치환과 삭제

- str_replace_all() : 모든 문자의 치환과 삭제

In [34]:
str_replace("apple", "p", "*")

[1] "a*ple"

In [35]:
str_replace("apple", "p", "**")

[1] "a**ple"

In [36]:
str_replace_all("apple", "p", "*")

[1] "a**le"

In [37]:
v3 <- c("1,000", "2,300", "3,900")

In [38]:
v3 <- str_replace(v3, ",", "")

In [39]:
v3

[1] "1000" "2300" "3900"

In [40]:
as.numeric(v3)

[1] 1000 2300 3900

# str_split()

- 기호를 기준으로 문자열을 분리

In [41]:
animal <- str_c("pig", "/", "dog", "/", "cat")
animal

[1] "pig/dog/cat"

In [42]:
str_split(animal, "/") # 결과물이 리스트 형식임

[[1]]
[1] "pig" "dog" "cat"

# str_trim()

- 공백 제거 용도
- 중간 공백 삭제 되지 않음
  - 중간 공백 치환은 replace() 사용

In [43]:
str_trim(" pig dog cat ") # 양쪽 공백 제거

[1] "pig dog cat"

In [44]:
str_trim(" pig dog cat ", side = "left") # 왼쪽 공백 제거

[1] "pig dog cat "

In [45]:
str_trim(" pig dog cat ", side = "right")

[1] " pig dog cat"